# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-server
dist-ssr
*.local
.env
.env.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.opencode/*
.codex
.agents
docs/
tests/

local_adapters/*
!local_adapters/incompetech-adapter.ts
!local_adapters/incompetech-README.md
!local_adapters/incompetech.json

!local_adapters/internet-archive-adapter.ts
!local_adapters/internet-archive-README.md
!local_adapters/internet-archive.json

!local_adapters/jamendo-adapter.ts
!local_adapters/jamendo-README.md
!local_adapters/jamendo.json

!local_adapters/README.md    
!local_adapters/shared.ts

package-lock.json